<router-outlet></router-outlet>

<mat-toolbar color="primary" class="mat-elevation-z6">

    <mat-toolbar-row>
        <span class="material-icons">directions_run</span>
        <h1>僅供練習</h1>
        <span class="material-icons">directions_run</span>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <h1>參考</h1>
        <h1>angular-meterial</h1>
        <h1> angular官網</h1>
        <h1>GitHub</h1>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <span class="material-icons">place</span>
        <h1>住址:台北市文山區福興路100-2號9樓</h1>
        <span class="material-icons">phone</span>
        <h1>電話:0970338645</h1>
    </mat-toolbar-row>

</mat-toolbar>