<mat-toolbar color="primary" class="mat-elevation-z6">


    <span class="material-icons">pool</span>

    <h1>SwimChampion</h1>

    <div class="space"></div>

    <a mat-button routerLink="/Home" routerLinkActive="active">首頁</a>
    <a mat-button routerLink="/SwimIntroduction">游泳簡介</a>
    <a mat-button routerLink="/PorductList">商品項目</a>
    <a mat-button routerLink="/Login">登入<span class="material-icons">
account_circle
</span></a>

    <a mat-button routerLink="/cart">購物車 <span class="material-icons">
shopping_cart
</span></a>

</mat-toolbar>

<router-outlet></router-outlet>