mat-grid-list {
    /* background: linear-gradient(45deg, #8500ff, #5acaff, #fff, #5acaff, #8500ff); */
}

#Crawl-Stroke {
    background-image: url('../../assets/img//Crawl-Stroke.jpg');
}

#Frog {
    background-image: url('../../assets/img//Frog.jpg');
}

#Butterfly {
    background-image: url('../../assets/img//Butterfly.jpg');
}

#Supine {
    background-image: url('../../assets/img//Supine.jpg');
}
