mat-grid-list {
    /* background: linear-gradient(45deg, #8500ff, #5acaff, #fff, #5acaff, #8500ff); */
}

mat-grid-tile {
    position: relative;
    background-image: url('../../assets/img//pool3.jpg');
    width: 100%;
    height: 100vh;
    transition: all 1s ease;
}

mat-grid-tile h1 {
    position: absolute;
    top: 10rem;
    left: 10rem;
    font-size: 8rem;
    color: #fff;
    opacity: 0.8;
}